POSTGRES_DB=trading_data
POSTGRES_USER=dev_user
POSTGRES_PASSWORD=my_strong_password
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

RTE_CLIENT_ID=your_rte_client_id
RTE_CLIENT_SECRET=your_rte_client_secret

CHRONOS_MODEL_NAME=amazon/chronos-t5-small
CHRONOS_DEVICE_MAP=cpu

PREDICTION_API_URL=http://localhost:8000/predict
DASHBOARD_ADMIN_PASSWORD=change_me_for_vps
